.h1 {
    font-size: 70px;
    color: rgb(179, 95, 0);
    text-decoration: underline;
    text-align: center;
}
.h2 {
    font-size: 15px;
    color: rgb(253, 246, 238);
    text-align: center;
}
body {
    background-image: url("fond-1.jpg");
    background-image: no-repeat;
    background-size: 1530px 3000px;
    background-attachment: fixed;
    background-position: center;
}
.margins {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
}
.sous-titre, .paragraphe {
    border-color: rgb(179, 95, 0);
    border-style: solid;
    border-width: 10px;
    padding: 3vw;
    background-color: rgb(226, 192, 147);
}
.sous-titre {
    margin-top: 7vw;
    margin-bottom: 2vw;
    font-size: 40px;
    text-decoration: underline;
}
.paragraphe {
    margin-left: 15vw; 
    margin-right: 15vw;
    font-size: 25px;
    text-align: justify; 
}
.image {
    width: 400px;
}

